.relation{
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px rgb(70, 196, 255) solid;
    border-radius: 4px;
    background-color: rgb(208, 228, 255);
    &-remove{
        width: 32px;
        height: 32px;
        position: absolute;
        top: -6px;
        right: -6px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lightgrey;
        border: 1px solid lightgrey;
        cursor: pointer;
    }
}